/*-- fonts imported from google fonts--*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700&display=swap');

/*-- Color 
colors used throughout
    color: #182977;
    color: #6688CC; 
    color: #ACBFE6;
    color: #F2F2F2;
--*/

html {
    overflow-x: hidden;
    
}

body {
    font-family: "Merriweather";
    color: #182977;
}

.container-wrapper {
    background-color: #ACBFE6;
    color: #182977;
}

/**-- general --*/
.uppercase{
    text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Merriweather";
    margin: 10px;
}


.inline-block {
    display: inline-block;
}

/*-- Headers --*/
.page-header {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.page-header h2 {
    margin-top: 0;
}

/*-- section divider--*/
.block-divider {
    width: 100px;
    height: 5px;
    border: 0;
    background-color: #6688CC;
}

/*-- Navbar --*/
nav{
    background-color: #182977;
    color: #ACBFE6;
}

.navbar-container{
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;   
}

.navbar{
    margin-bottom: 0;
    border: 0; 
    width: 100%;   
}

.navbar-brand {
    font-weight: 600;
    font-size: 22px;
    letter-spacing: 1.5px;
    color: #F2F2F2;
}

.nav-link {
    font-weight: 600;
    font-size: 14px;
}

.nav-bar a:hover {
    border-bottom: 1px solid #F2F2F2;
}

.navbar .navbar-nav a{
    font-weight: 600;
    color: #F2F2F2;
    text-decoration: none;
}

.navbar .navbar-toggler {
    border: 0;
}

/*-- content containers --*/
.content-container {
    padding-top: 75px;
    padding-bottom: 75px;
}

/*--callout--*/
.callout-container {
    height: 100vh; 

    background: url(../images/MS1callout.jpg) no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    animation-name: callout-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}
 /*--"Whiskey Drop Project" Code Institute --*/
.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .35);
}

.callout-outer {
    height: 100vh; 
    overflow: hidden;
}

@keyframes callout-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

/*-- Jumbotron --*/
.jumbotron{
    background-color: transparent;
}

.jumbotron-header {
    color: #182977;
    font-weight: 700;
    letter-spacing: 2px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.jumbotron-subhead {
    color: #182977;
    font-size: 95%;
    letter-spacing: 1.5px;

}

/*-- about--*/
.about-container {
    padding-left: 25px;
    padding-right: 25px;
}

#about-img1{
    height: 450px;
    width: 100%;
}

.montessori-container {
    padding-left: 20px;
    padding-right: 20px;
}

#about-img2 {
    height: 450px;
    width: 100%;
}

/*--Team--*/
.team-fig-caption{
    text-align: left;
    margin: 0;
}

.team-fig-caption .staff-header {
    margin: 0px;
}

.staff-qualification {
    color: #182977;
    font-size: 12px;
}

.team-member{
    margin-top: 10px;
    margin-bottom: 20px;
}
.team-items {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#staff-img1 {
    height: 400px;
    width: 300px;
}

#staff-img2 {
    height: 400px;
    width: 300px;
}

#staff-img3 {
    height: 400px;
    width: 300px;
}

#staff-img4 {
    height: 400px;
    width: 300px;
}

.team-fig-caption {
    color: #182977;
    text-align: justify;
}

/*-- sessions --*/
.sessions-container {
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    align-items: center;
}

#sessions-img {
    width: 100%;
    flex-basis: 40%;

}

.sessions-info{
    font-size: 20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.sessions-list{
    text-align: center;
    list-style-position: inside;
}

.card-group>.card {
    margin-bottom: 0px;
}

.sessions-card{
    background-color: #ACBFE6;
    color: #182977;
}

.card-title-sessions {
    font-weight: 700;
}

/*-- gallery --*/
.gallery-container{
    position: relative;
    align-items: center;
    justify-content: center;
}

.gallery-grid {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0px;
}

.gallery-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
 
/*--contactus --*/

.bg-color-contact {
    background-color: #ACBFE6;
}

.contact-heading {
    margin-top: 25px;
    margin-bottom: 25px;
}

.maps-heading {
    margin-top: 25px;
    margin-bottom: 25px;
}

.contact-form {
    padding-top: 15px;
    margin-right: 25px;
    
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.maps-location {
    padding-top: 15px;
    text-align: center;
}

iframe {
    height: 450px;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

form{
    padding-top: 10px;
    margin-left: 20px;
}

.form-control {
    margin-bottom: 20px;
}

.location-map {
    padding-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.center-block {
    padding-top: 12px;
    margin: 0 auto;
}

/*-- footer--*/
footer {
    background-color: #182977;
    color: #F2F2F2;
    min-height: 120px;
    margin: 0;
    padding-top: 15px;
    padding-bottom:15px;
}

.social-header {
    text-transform: none;
    font-size: 18px;
    margin: 0;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 18px;
    line-height: 7px;
    text-align: center;
    color: #f2f2f2;
}

#footer-details {
    padding: 25px;
}

/*-- Buttons --*/
.btn-cta {
    font-weight: 700;
    border-radius: 25px;
    width: 200px;
}

.btn-blues {
    color: #ACBFE6;
    background-color: #182977; 
    border-color: #182977;
    margin-top: 10px;
    margin-bottom: 20px;
}

.btn-blues:hover,
.btn-blues:active,
.btn-blues:focus,
.btn-blues:active:focus {
    background-color: #182977;
    border-color: #182977;
    color: #F2F2F2;
}

/*-- media queries --*/

/*--Medium Screens --*/
@media screen and (max-width: 850px){
    /*--gallery--*/
     .gallery-grid {
         column-count: 3;
     }
 }
/*-- Small Screens --*/
@media screen and (max-width: 600px){
  
    /*--gallery--*/
     .gallery-grid{
         column-count: 2;
     }
 }
/*-- Extra-Small Screens --*/
@media screen and (max-width: 400px){
    .navbar {
        padding: 10px;
    }

    .navbar-brand {
    letter-spacing: 1.1px;
    font-size: 16px;
    }

    .navbar-toggler{
        font-size: 20px;
        padding: 0;
    }
    
    .jumbotron-header{
        font-size: 28px;
    }
    .jumbotron-subhead{
        font-size: 24px;
    }

    .btn-cta {
        font-size: 16px;
    }
}
